.messages {
	border-style: solid;
	border-width: thin;
	border-color: silver;
	padding: 1em;
	font-weight: bold;
	list-style-type: none;
}

li.error {
	color: red;
}

li.warning {
	color: orange;
}

li.info {
	color: green;
}
